@charset "UTF-8";
*{
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #1C0C5B;
  border-bottom: 2px solid #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.header .logo {
  font-family: "Zen Maru Gothic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  text-align: left;
  box-sizing: border-box;
  width: 300px;
  margin-left: 10%;
  margin-right: 0%;
}
.header #menu {
  position: relative;
  float: right;
  width: 45px;
  height: 55px;
  cursor: pointer;
  background-color: #1C0C5B;
  margin-right: 10%;
}
.header span {
  transform: scale(var(--ggs, 1));
  transition: all 0.4s;
  box-sizing: border-box;
  margin-top: 0%;
  display: block;
  top: 30px;
  left: 6px;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background: currentColor;
  line-height: 60px;
  color: #FFFFFF;
}
.header .bar1 {
  position: absolute;
  top: 20px;
}
.header .bar2 {
  position: absolute;
  top: 30px;
}
.header .bar3 {
  position: absolute;
  top: 40px;
}

#menu.active span {
  top: 50px;
  left: 6px;
}
#menu.active .bar2 {
  opacity: 0;
}
#menu.active .bar1 {
  top: 21px;
  transform: translateY(7px) rotate(-45deg);
  width: 50%;
}
#menu.active .bar3 {
  top: 35px;
  transform: translateY(-7px) rotate(45deg);
  width: 50%;
}

#menuContents {
  width: 30%;
  height: 100vh;
  position: fixed;
  background-color: rgba(28, 12, 91, 0.8431372549);
  z-index: 1000;
  color: #FFFFFF;
  font-style: normal;
  margin: 0;
  z-index: 1000;
  top: 62px;
  right: -100%;
}
#menuContents p {
  font-family: "Zen Maru Gothic", sans-serif;
  font-style: normal;
  font-size: 28px;
  text-align: center;
  margin-bottom: 3vh;
}
#menuContents ul li {
  list-style: none;
  font-family: "Zen Maru Gothic", sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 18px;
}

#menuContents li{
  border-bottom: 1px solid #ffffff89;
  margin-bottom: 2vh;
}

a{
  text-decoration:none
}

a:visited {
  color: #FFFFFF;
}


#menuContents.active {
  right: 0%;
}

.wrapper {
  width: 100%;
  height: 90vh;
  background: linear-gradient(180deg, #1C0C5B 0%, rgba(145, 107, 191, 0.73) 100%);
  padding-top: 20vh;
  box-sizing: border-box;
}
.wrapper h1 {
  color: #FFFFFF;
  box-sizing: border-box;
  display: block;
  margin: 0%;
  text-align: center;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrapper .card {
  display: block;
  margin: 0 auto;
  margin-top: 10vh;
  box-sizing: border-box;
  width: 135px;
  height: 200px;
}
.wrapper .updown {
  -webkit-animation-name: updown1;
          animation-name: updown1; /* アニメーション名の指定 */
  -webkit-animation-delay: 0s;
          animation-delay: 0s; /* アニメーションの開始時間指定 */
  -webkit-animation-duration: 3s;
          animation-duration: 3s; /* アニメーション動作時間の指定 */
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; /* アニメーションの動き指定（徐々に早く）*/
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes updown1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes updown1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.wrapper .run {
  width: 270px;
  height: 70px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  background: #C996CC;
  color: #FFFFFF;
  font-size: 28px;
  font-family: "Zen Maru Gothic", sans-serif;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.2s ease;
}
.wrapper .run:hover {
  transform: translateY(4px); /*下に動く*/
  box-shadow: none;
}
.wrapper .result {
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  padding-top: 5px;
}

.footer {
  width: 100%;
  height: 10vh;
  background: #916BBF;
  border-top: 2px solid #FFFFFF;
}
.footer p {
  font-family: "Zen Maru Gothic", sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.05em;
  margin: 0.5rem 0;
  text-align: right;
  padding-right: 8%;
}/*# sourceMappingURL=tarot-top.css.map */