*{
  margin: 0%;
  padding: 0%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.box {
  color: #00B7FF;
}

#result{
  list-style: none;
}

.card{
  width: 35vh;
  height: 30vh;

}

.bad{
  transform: rotateX( 180deg );
}
