@charset "UTF-8";
* {
  font-family: "Zen Maru Gothic", sans-serif;
  margin: 0;
  padding: 0;
}

/*-----レスポンシブ用------*/
@media(max-width:1000px){
  .text{
    display: block;
  }

  .section-wrapper .freim{
    margin: 20px;
    width: 100%;
    padding: 20px;
  }
  .section-wrapper .button{
    width: 30%;
  }
}

/*----headerエリア----*/
header {
  background-color: #EDB7F4;
  color: #ffffff;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    text-align: left;
    box-sizing: border-box;
    width: 300px;
    margin-left: 10%;
    margin-right: 0%;
}

header a {
    color: #FFFFFF;
    text-decoration:none
  }

header a:visited {
    color: #FFFFFF;
    text-decoration:none
  }

#menu {
    position: relative;
    float: right;
    width: 45px;
    height: 55px;
    cursor: pointer;
    background-color: #EDB7F4;
    margin-right: 10%;
}

span {
  transform: scale(var(--ggs, 1));
  transition: all 0.4s;
  box-sizing: border-box;
  margin-top: 0%;
  display: block;
  top: 30px;
  left: 6px;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background: currentColor;
  line-height: 60px;
  color: #FFFFFF;
}

.bar1 {
  position: absolute;
  top: 20px;
}

.bar2 {
  position: absolute;
  top: 30px;
}

.bar3 {
  position: absolute;
  top: 40px;
}

#menu.active span {
  top: 50px;
  left: 6px;
}
#menu.active .bar2 {
  opacity: 0;
}
#menu.active .bar1 {
  top: 21px;
  transform: translateY(7px) rotate(-45deg);
  width: 50%;
}
#menu.active .bar3 {
  top: 35px;
  transform: translateY(-7px) rotate(45deg);
  width: 50%;
}

#menuContents {
  width: 30%;
  height: 100vh;
  position: fixed;
  background-color: #EDB7F4;
  color: #FFFFFF;
  font-style: normal;
  margin: 0;
  z-index: 1000;
  top: 62px;
  right: -100%;
}

#menuContents li{
    border-bottom: 1px solid #ffffff89;
    margin-bottom: 2vh;
  }

  #menuContents a{
    text-decoration:none
  }
  
  #menuContents a:visited {
    color: #FFFFFF;
  }
#menuContents p {
  font-family: "Zen Maru Gothic", sans-serif;
  font-style: normal;
  font-size: 28px;
  text-align: center;
  margin-bottom: 3vh;
}
#menuContents ul li {
  list-style: none;
  font-family: "Zen Maru Gothic", sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 18px;
}

#menuContents.active {
  right: 0%;
}

/*-----mainエリア-----*/
main {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding-top: 8vh;
    box-sizing: border-box;

}


h3 {
    color: #000;
    box-sizing: border-box;
    display: block;
    font-size: 28px;
    margin: 5vh auto;
    text-align: center;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*-----基準の型container----*/

.section-wrapper {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

/*flex-shrink：画面サイズ縮小時要素の縮小を防ぐため*/
.freim{
    box-sizing: border-box;
    width: 40%;
    flex-shrink: 0;
    padding: 20px;
}

.section-wrapper section {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 5vh;
}

.section-wrapper section .image {
  display: flex;
  width: 360px;
  width: 100%;
  height: 230px;
  margin: 10px auto;
}

.section-wrapper section .image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

/*hoverしたとき説明文の画面ズレ防止*/
.text-area{
    text-align: center;
    width: 100%;
    height: 50px;
}

.hover-action{
    display: none;
}

.mark-pink{
    margin: 5px auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #EDB7F4;
}

#tarot-wrapper {
  background-color: rgba(237, 183, 244, 0.3);
  box-shadow: 0 0 0 10px rgba(237, 183, 244, 0.3);
  border: 3px solid #ffffff;
  display: inline-block;
}

#horo-wrapper {
    background-color: rgba(207, 241, 239, 0.3);
    box-shadow: 0 0 0 10px rgba(207, 241, 239, 0.3);
    border: 3px solid #ffffff;
    display: inline-block;
}

.mark-blue{
    margin: 5px auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #CFF1EF;
}

.section-wrapper section .button {
  text-align: center;
  width: 50%;
  padding: 20px;
  margin: 40px auto;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bolder;
  box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;

}
.section-wrapper section .button:active {
  top: 4px;
  box-shadow: none;

}
.section-wrapper section .pink {
  background-color: #D644E2;
}
.section-wrapper section .blue {
  background-color: #587BD6;
}


/*----footerエリア-----*/
footer {
  width: 100%;
  height: 10vh;
  background-color: #CFF1EF;
  border-top: 2px solid #FFFFFF;
}
footer p {
    font-family: "Zen Maru Gothic", sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.05em;
    margin: 0.5rem 0;
    text-align: right;
    margin-top: 2vh;
    padding-right: 8%;
}/*# sourceMappingURL=main-top.css.map */