<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/tarot-top.css">
        <link rel="stylesheet" href="/stylesheets/horoscopeResult.css">
        <link href='https://css.gg/menu.css' rel='stylesheet'>
        <title>星占い</title>
    </head>
<body>
    <div class="header">
        <p class="logo"><a href="/">Fortuming</a></p>
        <div id="menu">
            <span class="bar1"></span>
            <span class="bar2"></span>
            <span class="bar3"></span>
        </div>
    </div>

    <div id="menuContents">
        <p>Menu</p>
            <ul>
                <li><a href="/">トップ</a></li>
                <li><a href="/tarot">タロット占い</a></li>
                <li><a href="/horoscope">星占い</a></li>
            </ul>
    </div>

        <div class="wrapper">
            <h1>あなたの今日の運勢は<span id="result"></span></h1>
            <h1>ラッキーカラーは<span id="color"></span></h1>
            <h1>ラッキーアイテムは<span id="item"></span></h1>
            <button class="btn" onclick="location.href='/horoscope'">もう一度占う</button>
        </div>

        <div class="footer">
            <p>Powered by Dreamcareer</p>
        </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/javascripts/horoResult.js"></script>
    <script>


        $("#menu").click(function(){
                $(this).toggleClass('active');
                $("#menuContents").toggleClass('active');
            });
    </script>
</body>
</html>