<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
    <link rel="stylesheet" href="/stylesheets/total-top.css">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <title>Fortuming</title>
</head>
<body>
    <header>
            <h1><a href="index.ejs">Fortuming</a></h1>   
                <div id="menu">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                    <span class="bar3"></span>
                </div>
        <div id="menuContents">
            <p>Menu</p>
                <ul>
                    <li><a href="index.ejs">トップ</a></li>
                    <li><a href="tarot-top.ejs">タロット占い</a></li>
                    <li><a href="horoscopeTop.ejs">星占い</a></li>
                </ul>
        </div>
    </header>
    
    <main>
        <h3>2つの占いを楽しめるサイトです</h3>
  
            <div class="section-wrapper">
                <!-- タロット占いエリア -->         
                <div class="freim">
                    <div class="text-area">
                        <div class="hover-action tarot">
                            <p class="text tarot">タロットカードで運勢を占います</p>
                            <p class="mark-pink"></p> 
                        </div>
                    </div>   
                        <section id="tarot-wrapper">
                                <div class="image">
                                    <img src="/images/tarot-top.png" alt="">
                                </div>
                            <div class="button pink" onclick="location.href='tarot'">タロットで占う</div>
                        </section>
                </div>
                <!-- 星占いエリア --> 
                <div class="freim">                  
                    <div class="text-area">
                        <div class="hover-action horo">
                            <p class="text horo">星座・血液型・干支で運勢を占います</p>
                            <p class="mark-blue"></p>
                        </div>
                    </div>
                    <section id="horo-wrapper">
                        <div class="image">
                            <img src="#" alt="">
                        </div>
                        <div class="button blue" onclick="location.href='horoscope'">星占いをする</div>
                    </section>
                </div>
            </div>
    </main>

    <footer>
        <p>Powered by Dreamcareer</p>
    </footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="crossorigin="anonymous"></script>
<script>
// メニューバー
$("#menu").click(function(){
        $(this).toggleClass('active');
        $("#menuContents").toggleClass('active');
    });
    
$(window).on('load resize', function(){
    var w = $(window).width();
    var x = 1000;
    //if文で画面サイズごとの処理を分岐
    if(w > x){
        // 画面サイズが1000px以上の時の処理
        $("#tarot-wrapper").hover(function(){
        $(".tarot").show();
    },function(){
    $('.tarot').hide();
    });
    // 星占い　ホバーアクション
    $("#horo-wrapper").hover(function(){
        $('.horo').show();
    },function(){
        $('.horo').hide();
    });
    }else{
        // 1000px以下の処理 hoverを打ち消し
        //常に文を表示する
       $("#tarot-wrapper").off();
       $(".tarot").show();
       $('#horo-wrapper').off();
       $(".horo").show();

    };
});

</script>
</body>
</html>