ul.baraja-container {
	width: 135px;
	height: 200px;
	margin: 0;
	position: relative;
	padding: 0;
	list-style-type: none;
}

ul.baraja-container li {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	cursor: pointer;
	background: rgb(255, 255, 255);
	pointer-events: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
ul.baraja-container a img {
	opacity: 1;
	/*
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	*/
}
ul.baraja-container li:hover{
	opacity: .8;
	/*うまくいかぬ
	box-shadow: 0 0 20px 0 rgba(98, 97, 67, 0.159);
	*/
}
ul.baraja-container li:active{
	opacity: 1;

}
/* キラキラ部分 */
/* キラキラが発生するアニメーション */
@keyframes glitter {
	0% {
	  transform: scale(0);
	  opacity: 0;
	}
  
	50% {
	  transform: scale(1);
	  opacity: 1;
	}
  
	100% {
	  transform: scale(0);
	  opacity: 0;
	}
  }

.star {
	position: absolute;
	display: block;
	width: 15px; /* キラキラの横幅を指定 */
	height: 15px; /* キラキラの縦幅を指定 */
	background-image: url("../images/star-yellow.png"); /* キラキラの画像のパスを記入 */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	animation: glitter 1s;
	pointer-events: none;
}


.no-js ul.baraja-container {
	width: auto;
	height: auto;
	text-align: center;
}

.no-js ul.baraja-container li {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 310px;
	margin: 10px;
}

/** ↓↓custom.css **/
.baraja-demo {
	width: 200px;
	margin: 30px auto;
	color: #aaa;
}

.no-js .baraja-demo {
	width: auto;
}

.baraja-demo ul.baraja-container li {
	border-radius: 10px;
	padding: 5px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.baraja-demo li img {
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 10px 10px 0 0;
}