$theme-color: #1C0C5B;
$theme-color2: #3D2C8D;
$theme-color3: #916BBF;
$theme-color4: #C996CC;

*{
    margin:0;
    padding:0;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #1C0C5B;
    border-bottom: 2px solid #FFFFFF;
        
    .logo{
        font-family: 'Zen Maru Gothic', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 60px;
        letter-spacing: 0.07em;
        color: #FFFFFF;
        text-align: left;
        box-sizing: border-box;
        width: 300px;
        margin-left: 10%;
        margin-right: 0%;
    }
    
    .icon{
    float: right;
    margin-right: 10%;
    /* border: 1px solid #FFFFFF; */
    color: #FFFFFF;
    box-sizing: border-box;
    display: block;
    line-height: 60px;
    position: relative;
    z-index: 2;
    width: 50px;
    height: 50px;
    }

    .gg-menu {
        transform: scale(var(--ggs,1))
    }
    .gg-menu,
    .gg-menu::after,
    .gg-menu::before {
        box-sizing: border-box;
        margin-top: 0%;
        position: relative;
        display: block;
        top: -25px;
        width: 30px;
        height: 3px;
        border-radius: 3px;
        background: currentColor;
        line-height: 60px;
    }
    .gg-menu::after,
    .gg-menu::before {
        content: "";
        position: absolute;
        top: -10px;
    }
    .gg-menu::after {
        top: 10px;
    }
}

.wrapper{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #1C0C5B 0%, rgba(145, 107, 191, 0.73) 100%);
    padding-top: 10vh;
    h1 {
        color: #FFFFFF;
        box-sizing: border-box;
        display:block;
        margin: 0%;
        text-align: center;
        font-family: 'Zen Maru Gothic', sans-serif;
        font-weight: 400;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


    .card{
        display: block;
        margin: 0 auto;
        margin-top: 10vh;
        box-sizing: border-box;
        width: 135px;
        height: 200px;
    }

    .updown {
        animation-name:updown1;   /* アニメーション名の指定 */
        animation-delay:0s;   /* アニメーションの開始時間指定 */
        animation-duration: 3s;   /* アニメーション動作時間の指定 */
        animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
        animation-iteration-count: infinite; 
    }
     
    @keyframes updown1 {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
    }

    .run{
        width: 270px;
        height: 70px;
        box-sizing: border-box;
        display:block;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        text-align: center;
        background: #C996CC;
        color: #FFFFFF;
        font-size: 28px;
        font-family: 'Zen Maru Gothic', sans-serif;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        transition: all 0.2s ease;
    }

    .run:hover {
        transform: translateY(4px);/*下に動く*/
        box-shadow: none;
      }

    .result{
        text-align: center;
        color: #FFFFFF;
        font-size: 24px;
        padding-top: 5px;
      }
    }


.footer{
    width: 100%;
    height: 10vh;
    background: #916BBF;
    border-top: 2px solid #FFFFFF;

    p{
        font-family:  'Zen Maru Gothic', sans-serif;
        color: #FFFFFF;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 0.05em;
        margin: 1rem 0;
        text-align: right;
        padding-right: 10%;
    }
}
